:host{
  .timer-root{
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background #000
    color #fff
  }
  .row{
    overflow hidden
    position absolute
    padding 20px
    top 0
    bottom 0
    left 0
    right 0
    display block
    margin:  auto
    height 70%
  }
  .row-item{
    width 50%
    float left
  }
  .select{
    margin-top 50px
    }
  .timer{
    text-align center
    font-weight bold
    font-size: 45px
  }
  .input-info{
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    height: 30%
    margin: auto
    z-index 5
    background: #000
    text-align: center
    input{
      width 50%
    }
  }
  .hide{
    display none
  }
  .show{
    display block
  }
  input{
    height 30px
    font-size: 18px
    border-radius: 5px
    border:none
    text-align: center
  }
  button{
    background: #fff
    display block
    border-radius: 5px
    width 120px 
    height 30px
    margin 10px auto
  }
  select{
    background: #fff
    display block
    margin: 0 auto
    border-radius: 5px
    width 50%
    height 30px
    text-align center
  }
  .info{
    text-align center
    margin-bottom 50px
  }
  .times{
    font-size: 12px
    color: #ccc
    display block
    margin-top 50px
    text-align center
    height 20px
  }
  .none{
    font-size: 14px}
    .s-i{
      margin-top 10px
      margin-bottom 10px
    }
}